<%= form_with(model: product, local: true) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= f.label :upc %>
    <%= f.text_field :upc, id: :product_upc %>
  </div>

  <div class="field">
    <%= f.label :available_on %>
    <%= f.datetime_select :available_on, id: :product_available_on %>
  </div>


    <%= f.fields_for :product_properties do |builder| %>
      <%= render 'product_property_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Property", f, :product_properties, :property %>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
