<div class="row nested-fields">
  <%= f.fields_for :property, Property.new do |property_fields| %>
    <div class="col-sm-6">
      <div class="form-group field">
        <%= property_fields.label :name %>
        <%= property_fields.text_field :name, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <div class="col-sm-6">
    <div class="form-group field">
      <%= f.label :value %>
      <%= f.text_field :value, class: 'form-control' %>
    </div>
  </div>
</div>